pkgbase = fcitx5
	pkgdesc = Next generation of fcitx
	pkgver = 5.1.8
	pkgrel = 1
	url = https://github.com/fcitx/fcitx5
	arch = x86_64
	groups = fcitx5-im
	license = LGPL-2.1-or-later AND Unicode-DFS-2016
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = wayland-protocols
	makedepends = fmt
	depends = cairo
	depends = enchant
	depends = iso-codes
	depends = libgl
	depends = libxkbcommon-x11
	depends = pango
	depends = systemd
	depends = wayland
	depends = xcb-imdkit
	depends = xcb-util-wm
	depends = libxkbfile
	depends = gdk-pixbuf2
	conflicts = fcitx
	source = https://download.fcitx-im.org/fcitx5/fcitx5/fcitx5-5.1.8_dict.tar.xz
	source = https://download.fcitx-im.org/fcitx5/fcitx5/fcitx5-5.1.8_dict.tar.xz.sig
	validpgpkeys = 2CC8A0609AD2A479C65B6D5C8E8B898CBF2412F9
	sha512sums = 4472b49cbc3fd20f066bbec4e107eafb5444fffd22feee7b4f5b637d324b03a16e82c950e95624629b984f72a5a62fca73087a032946c4eedb86d8a528c52a43
	sha512sums = SKIP

pkgname = fcitx5
