pkgbase = fcitx5
	pkgdesc = Next generation of fcitx
	pkgver = 5.1.3
	pkgrel = 1
	url = https://github.com/fcitx/fcitx5
	arch = x86_64
	groups = fcitx5-im
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = wayland-protocols
	makedepends = fmt
	depends = cairo
	depends = enchant
	depends = iso-codes
	depends = libgl
	depends = libxkbcommon-x11
	depends = pango
	depends = systemd
	depends = wayland
	depends = xcb-imdkit
	depends = xcb-util-wm
	depends = libxkbfile
	depends = gdk-pixbuf2
	conflicts = fcitx
	source = https://download.fcitx-im.org/fcitx5/fcitx5/fcitx5-5.1.3_dict.tar.xz
	source = https://download.fcitx-im.org/fcitx5/fcitx5/fcitx5-5.1.3_dict.tar.xz.sig
	validpgpkeys = 2CC8A0609AD2A479C65B6D5C8E8B898CBF2412F9
	sha512sums = 9e46e1846c890f17a4133804280ce17f1fba9cb192a77dff854d65b7ee76f79f6192cdd81d5f35ce422f4b6e96ee23d957912c31ef6ed2aaf521a684e41887cf
	sha512sums = SKIP

pkgname = fcitx5
