pkgbase = fcitx5
	pkgdesc = Next generation of fcitx
	pkgver = 5.1.7
	pkgrel = 3
	url = https://github.com/fcitx/fcitx5
	arch = x86_64
	groups = fcitx5-im
	license = LGPL-2.1-or-later AND Unicode-DFS-2016
	makedepends = extra-cmake-modules
	makedepends = ninja
	makedepends = wayland-protocols
	makedepends = fmt
	depends = cairo
	depends = enchant
	depends = iso-codes
	depends = libgl
	depends = libxkbcommon-x11
	depends = pango
	depends = systemd
	depends = wayland
	depends = xcb-imdkit
	depends = xcb-util-wm
	depends = libxkbfile
	depends = gdk-pixbuf2
	conflicts = fcitx
	source = https://download.fcitx-im.org/fcitx5/fcitx5/fcitx5-5.1.7_dict.tar.xz
	source = https://download.fcitx-im.org/fcitx5/fcitx5/fcitx5-5.1.7_dict.tar.xz.sig
	validpgpkeys = 2CC8A0609AD2A479C65B6D5C8E8B898CBF2412F9
	sha512sums = 0bc11065e0c3357471c51bdfa6f752e089a6d361349002e62f4ac952c8a0f1790a27aba195d027b340103eb4a6eef0efec124b8931ac2285e8b1b69ca3487269
	sha512sums = SKIP

pkgname = fcitx5
